<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/authority" method="post">
            <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                Exercise Authority
                </h1>
            </legend>
            <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">
                            Select delegator
                        </label>
                        <span id="email-hint" class="govuk-hint">
                            From the menu below pick the individual or organisation you need to represent.
                        </span>
                        <select class="govuk-select" id="entity" name="entity"
                        aria-describedby="entity-hint" >
                        {{#each entities}}
                            <option value="{{this.id}}">{{this.displayName}}</option>
                        {{/each}}
                        </select>
                    </div>
                     <div class="govuk-form-group">
                        <button class="govuk-button" >
                        Continue
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>