<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/change-password" method="post">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                Change your password
            </h1>
        </legend>
        <div class="govuk-form-group">
            <input type="hidden" id="uid" name="uid" value="{{uid}}"/>
            <input type="hidden" id="login" name="login" value="{{login}}"/>
            <input type="hidden" id="oldpwd" name="oldpwd" value="{{oldpwd}}"/>
            <label class="govuk-label" for="password">
                New Password
            </label>
            <input type="password" class="govuk-input" id="password"
            name="password" type="text">
        </div>
        <div class="govuk-form-group">
            <button class="govuk-button" >
            Continue
            </button>
        </div>
        {{#if err}}
        <span id="authentication-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{err}}
        </span>
        {{/if}}
        </div>
        </fieldset>
        </form>
    </div>
</div>