<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/login/mfa/challenge" method="post">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Identity Verification
            </h1>
        </legend>
        {{#if hibp}}
        <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Your password has been found in leaked credentials from other
            services. 
             <br>
            Please change your password. To keep your account secure until 
            you do, you must complete an additional factor challenge to access this service. 
        </strong>
        </div>
        {{/if}}
        <div class="govuk-form-group">
            <label class="govuk-label" for="password">
                One time code
            </label>
            {{#ifCond factor.factorType '==' 'token:software:totp'}}
            <span id="password-hint" class="govuk-hint">
            Please enter the one time code from your {{factor.vendorName}} authenticator application.
            </span>
            {{else}}
            <span id="password-hint" class="govuk-hint">
                Please enter the one time code sent to your registered email
                address {{factor.profile.email}}.
            </span>
            {{/ifCond}}
            <input type="password" class="govuk-input" id="password"
            name="password" type="text">
        </div>
        <div class="govuk-form-group">
            <button class="govuk-button" >
            Continue
            </button>
        </div>
        {{#if err}}
        <span id="authentication-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{err}}
        </span>
        {{/if}}
        </div>
        </fieldset>
        </form>
    </div>
</div>