<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/forgotten-password" method="post">
        <input type="hidden" id="csrf" name="csrf" type="text" value="{{csrfToken}}">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Forgotten Your Password?
            </h1>
        </legend>
        <div class="govuk-form-group">
            <label class="govuk-label" for="crn">
                Your account identifier
            </label>
            <input class="govuk-input" id="crn" name="crn"
            type="text">
            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                What's my account identifier
                </span>
            </summary>
            <div class="govuk-details__text">
                You can login with email address if you have used the service
                before or you can use your Customer Reference Number which is
                included on all correspondance from us.
            </div>
            </details>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="dob">
                Your date of birth
            </label>
            <div class="govuk-date-input" id="dob">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dobday">
                        Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobday" name="dobday" type="number" pattern="[0-9]*">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dobmonth">
                        Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobmonth" name="dobmonth" type="number" pattern="[0-9]*">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dobyear">
                        Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobyear" name="dobyear" type="number" pattern="[0-9]*">
                    </div>
                </div>
        </div>
        </div>
        <div class="govuk-form-group">
            <button class="govuk-button" >
            Continue
            </button>
        </div>
        {{#if err}}
        <span id="authentication-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{err}}
        </span>
        {{/if}}
        </div>
        </fieldset>
        </form>
    </div>
</div>