<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Password reset requested
        </h1>
        <div class="govuk-panel__body">
            Your password has been reset you can use the following temporary
            password to login<br/>
            <strong>{{temp}}</strong>
            <br/>
            This could be delivered by whatever workflow suits the requirements.
        </div>
        </div>
    </div>
</div>