<header class="home-top">
  <div class="govuk-width-container home-top__inner">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="home-top__title">Build secure, seamless experiences for your customers.</h1>
        <p class="app-masthead__description">This demonstration leverages Okta to manage user identity with a frontend
        following with the GOV.UK Design System.</p>
        <a href="/portal" role="button" draggable="false" class="govuk-button
        govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start app-button--inverted"
        data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l">Creating better identity for government</h1>
      <p>
        Okta is the market leader for identity and access management. Providing
            authentication and authorization to the world's largest organisations.
      </p>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="">Centers for Medicare and Medicaid</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="">U.S. Department of Veterans Affairs</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="">American Federation of Government Employees</h2>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://www.okta.com/customers/centers-for-medicare-and-medicaid">Customer Journey</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.okta.com/blog/2016/10/how-the-centers-for-medicare-and-medicaid-services-will-use-okta-to-modernize-its-identity/">Blog Entry</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.okta.com/press-room/press-releases/oktacustomercenterformedicaremedicaid/">Press Release</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.okta.com/video/oktane18-developer-leveraging-the-api-economy/">Oktane18 Presentation</a>
          </li>
        </ul>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link"
            href="https://www.okta.com/company-news/va-awards-more-than-496000-to-improve-it-infrastructure-as-part-of-buy-vs-build-initiative/">Press Release</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://www.okta.com/customers/afge">Customer Journey</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.okta.com/blog/2016/12/afge-employees-and-members-seamlessly-access-their-applications-and-benefits-with-okta/">Blog Entry</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>