<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            MFA Enrollment
        </h1>
        <div class="govuk-panel__body">
            MFA enrollment has not been implemented in this demo but is required
            to proceed with login.<br/>
            Use the hosted page below to complete enrollment.
        </div>
        <a class="govuk-link" href="{{tenant}}">Go to hosted page</a>
        </div>
    </div>
</div>