<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Welcome {{user.givenName}}</h1>
        <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        iaculis lorem at tristique rhoncus. Ut ut erat et ex volutpat finibus
        imperdiet vel mauris. Suspendisse quis purus id quam dignissim eleifend.
        Maecenas id faucibus purus, at pharetra ex. Sed tellus elit, lobortis
        sed pretium quis, semper at neque. Nunc euismod, magna eu consectetur
        euismod, nisi ex viverra libero, eu elementum lectus augue vitae nisi.
        Cras gravida lacus sit amet libero fringilla, at malesuada purus
        tristique. Ut ultricies sem sit amet mi dictum, a venenatis lacus
        imperdiet. Maecenas varius maximus iaculis. Ut auctor ex ac lacus
        ultrices, volutpat finibus lorem tempus. Aliquam ut vulputate urna.
        Nullam imperdiet porta ligula eu imperdiet. In iaculis et nunc vel
        gravida. Ut in feugiat purus, efficitur aliquet neque. 
        </p>
        <h1 class="govuk-heading-m">View your tokens</h1>
        <p class="govuk-body">Decode the tokens which have been provided by
        the IDP to describe you and your access.</p>
        <a href="/yourtokens" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
        <h1 class="govuk-heading-m">Manage your information</h1>
        <p class="govuk-body">Update the information held about you.</p>
        <a href="/yourinfo" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
        <h1 class="govuk-heading-m">Review account activity</h1>
        <p class="govuk-body">Review recent actions on your account.</p>
        <a href="/accountactivity" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
        <h1 class="govuk-heading-m">Manage delegated authority</h1>
        <p class="govuk-body">Grant agents authority to act on your behalf.</p>
        <a href="/delegateAuthority" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
        <h1 class="govuk-heading-m">Exercise delegated authority</h1>
        <p class="govuk-body">Restablish this session with the context of an
        entity which has granted authority.</p>
        <a href="/authority" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
        <h1 class="govuk-heading-m">Logout</h1>
        <p class="govuk-body">
            Close this session and log out of the IDP.
        </p>
        <a href="/logout" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Logout
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
        </a>
    </div>
</div>