<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Registration requested
        </h1>
        <div class="govuk-panel__body">
            <p class="govuk-body">Your customer reference number is<br/>
            <strong>{{reference}}</strong>
            <br/>
            You can use this or your email address during login.</p>
            <p class="govuk-body">An email has been sent to {{email}} with a verification link. Click the link in this email to complete your registration.</p>
        </div>
        </p>
    </div>
</div>