<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Your Information</h1>
        <p class="govuk-body">The following tokens are provided by the IDP for 
            this application. These describe you as a user as well as the access
             you have been granted.
        </p>
        <h2 class="govuk-heading-m">ID Token</h2>
        <pre>{{jwt id_token}}</pre>
        <h2 class="govuk-heading-m">Access Token</h2>
        <pre>{{jwt access_token}}</pre>
        {{#if refresh_token}}
            <h2 class="govuk-heading-m">Refresh Token</h2>
            <pre>{{refresh_token}}</pre>
        {{/if}}
    </div>
</div>