body {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
    font-weight: 400;
}

.home-top__inner {
    position: relative;
}

.home-top {
    overflow: hidden;
    background: #1d70b8;
    color:#ffffff;
}

.home-top__title {
    font-size: 48px !important;
    line-height: 1.0416666667 !important;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    padding: 30px 0 0;
    margin: 0;
}

.home-top__links {
    position: absolute;
    bottom: 0;
    right: -15px;
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 20px 25px 20px;
    background: #0b0c0c;
}

.home-top__links-title {
    font-size: 19px;
    line-height: 1.3157894737;
    margin: 5px 0 0;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
}

.app-button--inverted, .app-button--inverted:link, .app-button--inverted:visited {
    color: #1d70b8 !important;
    background-color:#fff !important;
    -webkit-box-shadow: 0 2px 0 #144e81 !important;
    box-shadow: 0 2px 0 #144e81 !important;
}

.app-masthead__description {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
}

.app-header__logo {
    width: auto !important;
}

